# dependencies
node_modules/

# build output / caches
.expo/
dist/
web-build/
.next/
out/
build/

# misc
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

# local env files
.env*.local
.env
